**/.DS_Store
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/node_modules/
**/.gradle/
**/.kotlin/
**/build/
**/dist/
**/.build/
**/target/
**/.venv/
bindings/typescript/*.tgz
.env*

**/*.dylib
**/*.so
**/*.dll
**/*.a
**/*.node
**/*.wasm
**/*.xcframework/

/bindings/typescript/wasm/.gitignore
/bindings/typescript/wasm/.npmignore
/bindings/typescript/wasm/package.json

/bindings/go/internal/native/lib/
/bindings/kotlin/android/local.properties
